/* FONT */
html{
    font-family: 'Open Sans',
    sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

.logo-sony{
    max-width: 7%;
    height: auto;
}

:root {
    --bs-black: #0a0a0a;
}

.header{
}

.top-header{
    background-color: var(--bs-black);
    /* height: 200px; */
}