/* GENERAL */
html{
    font-family: 'Open Sans',
    sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

:root {
    --bs-black: #0a0a0a;
    --bs-dark-grey: #202020;
    --bs-light-grey: #BFBCBB;
    --bs-dark-blue: #171C3B;
    --bs-blue-ps: #01439C;
}

.border-img{
    border-radius: 20px;
}

.limited-width{
    width: 90%;
    margin: 0 auto;
}

.opacity{
    opacity: 0.6;
}

/* EFFECTS */
.underline:hover{
    text-decoration: underline;
}

.cursor:hover{
    cursor: pointer;
}

.btn-primary:hover{
    color: black !important;
    background-color: white !important;
    outline: 3px solid var(--bs-blue-ps);
}

.border-effect:hover{
    color: black !important;
    background-color: white !important;
    padding: 2px;
    outline: 2px solid var(--bs-blue-ps);
}

.active:hover{
    opacity: 10;
    border-bottom: 2px solid #0D6EFD;
}

.zoom:hover{
    transform: scale(1.1);
}

.zoom{
    transition: 0.2s;
}

/* HEADER */
.logo-sony{
    width: 80px;
    height: auto;
}
.top-header{
    background-color: var(--bs-black);
}

/* MAIN */

/* JUMBO - JUMBO2 */
.jumbo-background{
    height: 600px;
    background-image: url(./../img/jumbo-bg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: 50%;
}

.btn-orange{
    background-color: #CD3D10 !important;
    border-color: #CD3D10 !important;
}

.jumbo-2-background {
    height: 600px;
    background-image: url(./../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.img-jumbo2{
    max-width: 60%;
    height: auto;
}

/* PS5 */
.ps5-header{
    color: #0072CE;
}

.grey-text{
    color: #727272;
}

/* IT-TAKES-TWO */
.shadow{
    text-shadow: 5px 5px 5px black;
}

/* LAST GAMES */
.last-games-section{
    background-color: var(--bs-dark-grey);
}

.img-last-game{
    max-width: 85%;
    height: auto;
}

/* PS PLUS */
.ps-plus-section{
    background-color: var(--bs-light-grey);
}

.btn-plus{
    background-color: #D9DADC !important;
    color: var(--bs-blue-ps) !important;
}

/* PS NOW */
.ps-now-section{
    background-color: var(--bs-dark-blue);
}

/* FOOTER */
footer{
    background-color: var(--bs-blue-ps);
}

.globe{
    width: 15px;
}

.sie{
    width: 150px;
}

.list li a{
    text-decoration: none;
    color: white;
}

.list li{
    list-style: none;
    color: white;
}

.ps-now-img{
    width: 100px;
}

.info{
    text-decoration: underline;
    color: white;
}

.info:hover{
    cursor: pointer;
    color: black;
}