/* GENERAL */
html{
    font-family: 'Open Sans',
    sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

:root {
    --bs-black: #0a0a0a;
    --bs-dark-grey: #202020;
    --bs-light-grey: #BFBCBB;
    --bs-dark-blue: #171C3B;
    --bs-blue-ps: #01439C;
}

.border-img{
    border-radius: 20px;
}

.limited-width{
    width: 90%;
    margin: 0 auto;
}

.opacity{
    opacity: 0.6;
}

/* HEADER */
.logo-sony{
    width: 80px;
    height: auto;
}
.top-header{
    background-color: var(--bs-black);
    /* height: 200px; */
}

/* MAIN */

/* JUMBO */
.jumbo-background{
    height: 600px;
    background-image: url(./../img/jumbo-bg.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: 50%;
}

.jumbo-2-background {
    height: 600px;
    background-image: url(./../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.img-jumbo2{
    max-width: 60%;
    height: auto;
}

/* LAST GAMES */
.last-games-section{
    background-color: var(--bs-dark-grey);
}

/* PS PLUS */
.ps-plus-section{
    background-color: var(--bs-light-grey);
}

/* PS NOW */
.ps-now-section{
    background-color: var(--bs-dark-blue);
}

/* FOOTER */
footer{
    background-color: var(--bs-blue-ps);
}

.globe{
    width: 15px;
}

.sie{
    width: 150px;
}

.list li a{
    text-decoration: none;
    color: white;
}

.list li{
    list-style: none;
    color: white;
}

.ps-now-img{
    width: 100px;
}